<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title> Theater Bookings </title>
	<link rel="stylesheet" type="text/css" href="mainstyle.css" />
	<style>
  
		@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
		@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
	  </style>
</head>



<body>

	<nav>
		  <ul>
			<li class="navigation">
			  <a class="navbar" href="#scroll">Home</a>
				</a>
			</li>
			<li class="navigation">
			  <a class="navbar" href="#scroll2">Now Playing</a>
			</li>
			<li class="navigation">
			  <a class="navbar" href="/support">Contact</a>
			</li>
			<li class ="navigation">
				<a class="navbar" href="/SignUp">SignUp</a>
			<li class="navigation1">
			  <a class="login" href="/login">Log in</a>
			</li>
		  </ul>
		</nav>
	  </header>
	  <p id="scroll"></p>
	  <div class = "home">
	 <h1 class="name">x Theatres</h1>
	 <p class= "caption">-insert cringy slogan here xD-</p>
	 <div class="contain1">
			<a href="#scroll2"> <button class="contbutton1">Whats On?</button></a>
		</div>
	  </div><p id="scroll2"></p>
	  <h1 class = "title">Movies Playing Right Now</h1>
	  <p class ="moviename">Avengers: Endgame:</p>
	  <p class = "time">Times available:</p>
	  <img src="/img/Avengers_Endgame_poster.jpg" alt="Avengers Endgame">
	  <div class="contain1">
			<a href="#scroll2"> <button class="contbutton1">Book Now</button></a>
		</div>

</body>
</html>
