
<!doctype html>

<html lang="en">
		<link rel="stylesheet" type="text/css" href="login.css" />
	<img src="img\lion.png" class="logo"alt ="images of logo"/>

	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
	</head>

	<body>

<section class="form2">
<h1 class="login">Log In</h1>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<p >Don&apos;t have an account? <button ><a  class="button" href="/register">Register</a></button></p>
		<button><a class="button" href="/home">Home</a></button>
</section>
		

		<form action="/login" method="post" class="form">
			<p>Username:<br /><input type="text" name="user" placeholder="your username" value="{{user}}" autofocus></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="your password" value=""></p>
			<p><input type="submit" value="Log in"></p>
		</form>
		
	</body>

</html>
