<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <p>Payment successfully made</p>
    <p>You will receive an email shorlty with the payment details</p>
    <a href= "/home"><button class="contbutton1">Back to the homepage</button></a>
</body>