<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="production.css" type="text/css" rel="stylesheet" />
</head>
<body>
<form action="/production" method="post">
<p>Please select one of the following productions: </p>

<p class="production"> Avatar</p>
<img src="/img/Avatarr1.jpg" class="Images" alt="Avatar">
<p>Display time: </p>

<p class="production"> Scary Movie</p>
<img src="/img/ScaryMovie.jpg" class="Images" alt="Scary Movie">
<p>Display day &amp; time: </p>
<p class="production"> Scary Movie</p>
<img src="/img/ScaryMovie.jpg" class="Images" alt="Scary Movie">
<p>Display day &amp; time:</p>
<p class="production"> Scary Movie</p>
<img src="/img/ScaryMovie.jpg" class="Images" alt="Scary Movie">
<p>Display day &amp; time: </p>
<p class="production"> Scary Movie</p>
<img src="/img/ScaryMovie.jpg" class="Images" alt="Scary Movie">
<p>Display day &amp; time: </p>
</form>
</body>