<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
 <h1>Checkout</h1>
 <p>Please confirm your payment details for: {{user}}</p>
 <p>Card Number: {{'card number'}}</p>
 <p>Expiry date: {{expiry}}</p>
 <p>Security code: {{'security code'}}</p>


<a href="/payment_complete"><button type="submit">Pay</button></a>
</body>