<!doctype html>

<html lang="en">

<link href="register.css" type="text/css" rel="stylesheet" />
<img src="img\lion.png" class="logo" alt="images of logo" />


<head>
	<meta charset="utf-8">
	<title>Create an Account</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<form class="form" action="/register" enctype="multipart/form-data" method="post">
		<p>Username:<br /><input type="text" name="user" placeholder="your preferred username (no spaces)" value=""
				required></p>
		<p>Password:<br /><input type="password" name="pass" placeholder="your chosen password" value="" required></p>
		<p>Email:<br /><input type="text" name="email" placeholder="your chosen email" value="" required></p>
		<fieldset>
			<p>CreditCard number:<br /><input type="text" name="card number" value=""></p>
			<p>Expiry date:<br /><input type="date" name="expiry" value=""></p>
			<p>Security code:<br /><input type="text" name="security code" value=""></p>
		</fieldset>
		<p>Profile Picture:<br /><input type="file" name="avatar"></p>
		<p><input type="submit" value="Create"></p>
	</form>

	<section class="form2">
		<h3>Create an Account</h3>
		<button><a class="button" href="/home">Home</a></button>

		<p>Got an account <button><a class="button" href="http://localhost:8080/login">Login</a></button></p>
	</section>


</body>

</html>