<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="payment.css" />
</head>

<body>

	<p>Current items in shopping cart</p>

	<table>

		<tr>
			<td>Movie</td>
			<td>Date</td>
			<td>Time</td>
			<td>Low Tickets</td>
			<td>Medium Tickets</td>
			<td>High Tickets</td>

		</tr>

		{{#each cart}}

		<tr>
			{{#each this}}
			<td>{{this}}</td>
			{{/each}}
		</tr>


		{{/each}}
	</table>
	<button><a href="/paymentcart">Pay Now</a></button>
	<button><a href="/clearall">Clear Cart</a></button>
	<button><a href="/">Home</a></button>



</body>

</html>