<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <p>Current items in shopping cart:</p>
        {{#each item}}
        Item: {{this.ticket.name}} {{this.ticket.date}} {{this.ticket.time}}  <br> 
        <button onclick="add(item)">Add to shopping cart</button>
        <button onclick="decrement(item)">Decrement by one ticket</button>
        <button onclick="remove(item)">Remove ticket</button> <br> 
        {{/each}}
</body>