<!DOCTYPE html>
<html>
<head>
        <link rel="shortcut icon" type="image/x-ico" href="img\favicon.ico"/>

<meta charset="UTF-8">
<title>Support Page</title>
<link rel="stylesheet" type="text/css" href="support.css" />

</head>
<body>
<header>  
    <h1 class="intocuh">Get in touch!</h1>
</header> 
<nav>
    <ul>
      <li class="navigation">
        <a class="navbar" href="home#scroll">Home</a>
          </a>
      </li>
      <li class="navigation">
        <a class="navbar" href="#scroll2">Now Playing</a>
      </li>
      <li class="navigation">
        <a class="navbar" href="/support">Contact</a>
      </li>
      <li class="navigation1">
        <a class="login" href="/login">Log in</a>
      </li>
    </ul>
  </nav>

<main>
    <section>
        <h2> Need help in creating a booking? contact our help team :)</h2>
        <ul>
            <li>Phone : <a href = "tel:+44123123123"> +44123123123</a></li>
            <li>E-mail : <a href = "mailto:sharifh4@uni.coventry.ac.uk"> Xtheatre@help.com </a></li>
        </ul>
    </section>
    <section>
        <h2>Something went wrong :( ? contact our complaints team</h2>
        <ul>
            <li>Phone : <a href = "tel:+44123123123"> +44666666666</a></li>
            <li>E-mail : <a href = "mailto:sharifh4@uni.coventry.ac.uk"> Xtheatre@complaints.com </a></li>
        </ul>
    </section>
</main>

<aside>
    <h3>Trouble locating us?</h3>
    <p>We're located in the engineering and computing building at coventry; 3 Gulson Rd, Coventry CV1 2JH</p>
    <img src = "img/location.PNG" alt = "location" height = "300" width = "400" >
</aside>

<footer>
    <p>Come visit us at 3 Gulson Rd, Coventry CV1 2JH!</p>
</footer>

</body>

</html>