body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #000000, #443f41, #585755, #c0bcb3);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form{
    font-family: baloo;
    position:absolute;
    width:100px;
    height:100px;
    left:50%;
    top:51%;
    margin-left:-75px;
    margin-top:-90px;
  }
  .form2{
    font-family: baloo;
    position:absolute;
    width:100px;
    height:px;
    left:50%;
    top:25%;
    margin-left:-75px;
    margin-top:-90px;
  }
  

  .button {
    border: 0px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px 5px;
    opacity: 2;
    transition: 0.3s;
    font-weight: bold;
    font-family: baloo;
    
  }
  .button:hover {opacity: 0.5}

  .logo {
  
    display: block;
    margin-left: 250px;
    margin-right: auto;
    width: 10%;
    height: auto;
    margin-top: 50px;
  }